#navber{
    background-color: #333;
    margin: 0;
    padding: 10px;
    overflow: hidden;
    text-align: center;
}
.contt{
    color: white;
    padding: 7%;
    text-decoration: none;
}

.content{
    text-decoration: solid;
    font-size: 35px;
    text-align: center;
}
.contt:hover{
    background-color: #111;
}